outputs/
log/
oldnotebooks/
.git/
.secrets.env

# converted by generate_dockerignore.py
# Created by https://www.gitignore.io/api/python,bower,node,ipythonnotebook,linux

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]
*$py.class
*/*$py.class
*/*/*$py.class
*/*/*/*$py.class

# C extensions
*.so
*/*.so
*/*/*.so
*/*/*/*.so

# Distribution / packaging
.Python
*/.Python
*/*/.Python
*/*/*/.Python
env/
*/env/
*/*/env/
*/*/*/env/
build/
*/build/
*/*/build/
*/*/*/build/
develop-eggs/
*/develop-eggs/
*/*/develop-eggs/
*/*/*/develop-eggs/
dist/
*/dist/
*/*/dist/
*/*/*/dist/
downloads/
*/downloads/
*/*/downloads/
*/*/*/downloads/
eggs/
*/eggs/
*/*/eggs/
*/*/*/eggs/
.eggs/
*/.eggs/
*/*/.eggs/
*/*/*/.eggs/
lib/
*/lib/
*/*/lib/
*/*/*/lib/
lib64/
*/lib64/
*/*/lib64/
*/*/*/lib64/
parts/
*/parts/
*/*/parts/
*/*/*/parts/
sdist/
*/sdist/
*/*/sdist/
*/*/*/sdist/
var/
*/var/
*/*/var/
*/*/*/var/
*.egg-info/
*/*.egg-info/
*/*/*.egg-info/
*/*/*/*.egg-info/
.installed.cfg
*/.installed.cfg
*/*/.installed.cfg
*/*/*/.installed.cfg
*.egg
*/*.egg
*/*/*.egg
*/*/*/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*/*.manifest
*/*/*.manifest
*/*/*/*.manifest
*.spec
*/*.spec
*/*/*.spec
*/*/*/*.spec

# Installer logs
pip-log.txt
*/pip-log.txt
*/*/pip-log.txt
*/*/*/pip-log.txt
pip-delete-this-directory.txt
*/pip-delete-this-directory.txt
*/*/pip-delete-this-directory.txt
*/*/*/pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
*/htmlcov/
*/*/htmlcov/
*/*/*/htmlcov/
.tox/
*/.tox/
*/*/.tox/
*/*/*/.tox/
.coverage
*/.coverage
*/*/.coverage
*/*/*/.coverage
.coverage.*
*/.coverage.*
*/*/.coverage.*
*/*/*/.coverage.*
.cache
*/.cache
*/*/.cache
*/*/*/.cache
nosetests.xml
*/nosetests.xml
*/*/nosetests.xml
*/*/*/nosetests.xml
coverage.xml
*/coverage.xml
*/*/coverage.xml
*/*/*/coverage.xml
*,cover
*/*,cover
*/*/*,cover
*/*/*/*,cover
.hypothesis/
*/.hypothesis/
*/*/.hypothesis/
*/*/*/.hypothesis/

# Translations
*.mo
*/*.mo
*/*/*.mo
*/*/*/*.mo
*.pot
*/*.pot
*/*/*.pot
*/*/*/*.pot

# Django stuff:
*.log
*/*.log
*/*/*.log
*/*/*/*.log

# Sphinx documentation
docs/_build/
*/docs/_build/
*/*/docs/_build/
*/*/*/docs/_build/

# PyBuilder
target/
*/target/
*/*/target/
*/*/*/target/

### IPythonNotebook ###
# Temporary data
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/


### Linux ###
*~
*/*~
*/*/*~
*/*/*/*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*
*/.fuse_hidden*
*/*/.fuse_hidden*
*/*/*/.fuse_hidden*

# KDE directory preferences
.directory
*/.directory
*/*/.directory
*/*/*/.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
*/.Trash-*
*/*/.Trash-*
*/*/*/.Trash-*
