tqdm==4.23.10
gym==0.10.5
pytorch==0.4.0
opencv-python==3.3.0.10
git+https://github.com/openai/retro-contest.git@476a790f66f5bc8fde068a77c477aa1531efb8b1#egg=retro_contest_support&subdirectory=support
gym-retro==0.5.4
toolz==0.9.0
h5py==2.7.0
zarr==2.2.0
dask[array]=0.17.2
keyboard==0.13.2
